<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.babystore">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BabyStore">
        <activity
            android:name=".CatFire.SoftCatFire"
            android:exported="false" />
        <activity
            android:name=".CatFire.PuzzlesCatFire"
            android:exported="false" />
        <activity
            android:name=".CatFire.EducationalCatFire"
            android:exported="false" />
        <activity
            android:name=".CatFire.HolidayCatFire"
            android:exported="false" />
        <activity
            android:name=".CatFire.ActiveCatFire"
            android:exported="false" />
        <activity
            android:name=".CatFire.RadioCatFire"
            android:exported="false" />
        <activity
            android:name=".CatFire.FunkoCatFire"
            android:exported="false" />
        <activity
            android:name=".CatFire.LegoCatFire"
            android:exported="false" />
        <activity
            android:name=".CatFire.CartActivity.CartActivity"
            android:exported="false" />
        <activity
            android:name=".CatFire.CatFire1"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Svyaz.Svyaz12"
            android:exported="false" />
        <activity
            android:name=".Svyaz.Svyaz11"
            android:exported="false" />
        <activity
            android:name=".Search.AllSearch"
            android:exported="false"
            android:label="Поиск товаров" />
        <activity
            android:name=".Qr_code.Qr_code"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".categories.Categories8"
            android:exported="false"
            android:label="Мягкие игрушки" />
        <activity
            android:name=".categories.Categories7"
            android:exported="false"
            android:label="Головоломки" />
        <activity
            android:name=".categories.Categories6"
            android:exported="false"
            android:label="Развивающие игрушки" />
        <activity
            android:name=".categories.Categories5"
            android:exported="false"
            android:label="Праздник" />
        <activity
            android:name=".categories.Categories4"
            android:exported="false"
            android:label="Активные игры" />
        <activity
            android:name=".categories.Categories3"
            android:exported="false"
            android:label="На радиоуправлении" />
        <activity
            android:name=".Sqlcat.DobSql"
            android:exported="true" />
        <activity
            android:name=".categories.Categories2"
            android:exported="false"
            android:label="Фигурки"
            android:screenOrientation="portrait" />
        <activity
            android:name=".categories.Categories1"
            android:exported="false"
            android:label="Игрушечный транспорт"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Auth.Auth"
            android:exported="false" />
        <activity
            android:name=".Auth.Register"
            android:exported="false" />
        <activity
            android:name=".Sqlcat.Allcategor"
            android:label="Toy list"
            android:parentActivityName=".Sqlcat.DobSql" />
        <activity
            android:name=".categories.Allcategor1"
            android:exported="false"
            android:label="Все товары" />
        <activity
            android:name=".RecyclerAllProduct.AddRecycler"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Catalog1"
            android:label="@string/menu_catalog"
            tools:ignore="Instantiatable" />
    </application>

</manifest>